body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
:root{
	--main-color:rgb(97,27,227);
	--clone-main-color:rgb(97,27,227);
	--clone-white: #ffffff;
 	--dark-blue: #2b3945;
	--very-dark: #000000;
	--very-dark-blue-text: #111517;
	--dark-gray: #626c75;
	--very-light-gray: #f7c7c7;
	--white: #ffffff;
	--different-color:#4f3a76;



}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
	text-decoration: none !important;
	color: #fff !important;
}
a:hover{
	text-decoration:none;
}

.App{
  height: auto;
  background-color: var(--very-dark);
  z-index: 1;
  display: flex;
  justify-content:center;
  align-items:center;
}
body::-webkit-scrollbar{
	width: 10px;
  }
 body::-webkit-scrollbar-track{
	 background:#eeeeeeba;
   }
body::-webkit-scrollbar-thumb{
	 background: #3A445C;
	 border-radius: 20px;
	 border: 1px solid #ddd;
   }
.App{
	position: relative;
	min-height:100vh;
}
.animation-area {
	width: 100%;
	min-height:100vh;
	position: absolute; ;
 }
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: #fff;
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}


@media (max-width:600px){
	.App{
		/* width: 100vw; */
		min-height: 100vw;
		background-color: var(--very-dark);
		/* z-index: 1; */
		/* display: flex;
		justify-content:center;
		align-items:center; */
	  }
}

